body {
  margin: 0;
  font-family: 'Smooch Sans', sans-serif;
  font-size: medium;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #0e0f11, #121516, #161919, #1b1e1c, #21221f);
  /* background-image: linear-gradient(to right top, #82a5d9, #00c1f3, #00d9da, #00e98f, #a8eb12); */
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
